.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    height: 65px;
    width: 97%;
    background-color: #181818;
    padding: 14px 20px;
    border-top: 1px solid rgb(51, 51, 51);
}

.footer > * {
    flex: 1;
    display: flex;
}

.footer__fav,
.footer__block:hover,
.prev:hover,
.pause,
.next:hover {
    color: white !important;
}

.footer__block,
.prev,
.next,
.footer__right > .container * {
    color: rgb(173, 170, 170) !important;
}

.footer__right > .container *:hover {
    color: white !important;
}

.footer__right > .container > * :nth-child(3) *:hover {
    color: green !important;
}

.footer__left > .container {
    display: flex;
    align-items: center;
    width: 100%;
}

.footer__albumArt {
    height: 60px;
    width: 60px;
    margin-right: 10px;
    object-fit: contain;
}

.footer__songInfo {
    margin-right: 10px;
}

.footer__songInfo > h4 {
    font-size: 14px;
    font-weight: 500;
}

.footer__songInfo > p {
    font-size: 11px;
    color: rgb(173, 170, 170);
}

.footer__songInfo > h4,
.footer__songInfo > p:hover {
    color: white;
}

.footer__songInfo > *:hover {
    text-decoration-line: underline;
}

.footer__albumArt,
.footer__songInfo > * {
    cursor: pointer;
}

.footer__left_icons > * {
    margin-left: 15px !important;
    transform: scale(0.75) !important;
}

.footer__center {
    justify-content: center;
}

.footer__center > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
}

.prev {
    margin-left: 5px !important;
}

.pause {
    transform: scale(1.75) !important;
}

.pause:hover {
    transition: transform 0.1s ease-in-out !important;
    transform: scale(1.9) !important;
}

.next {
    margin-right: 5px !important;
}

.footer__green {
    color: #1ed15e !important;
}

.footer__green:hover {
    color: #49ff89 !important;
}

.footer__right {
    position: relative;
}

.footer__right > .container {
    position: absolute;
    right: 0%;
    height: 100%;
    width: 45%;
}

.footer__right .container > * {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    height: 100% !important;
    width: 100% !important;
    transform: translate(8px, 8px) !important;
}