.sidebarOption {
    display: flex;
    align-items: center;
    color: gray;
    padding: 10px 0;
    cursor: pointer;
    transition: 200ms color ease-in;
}

.sidebarOption:hover {
    color: white;
}

.selected {
    border-radius: 5px;
    background: rgb(37, 37, 37);
    color: white;
}

.playlist {
    padding: 5px 0;
}

.title {
    font-size: 14px;
}
 
.sidebarOption__icon {
    transform: scale(1.3);
    margin: 0 20px;
}

.sidebarOption > p {
    margin-left: 10px;
}