.sidebarOption {
    display: flex;
    align-items: center;
    color: gray;
    padding: 6px 0;
    cursor: pointer;
    transition: 200ms color ease-in;
    /* border: 1px solid white; */
}

.sidebarOption:hover {
    color: white;
}

.title {
    font-size: 18px;
}
 
.sidebarOption__icon {
    margin: 0 10px;
}

.sidebarOption > p {
    margin-left: 10px;
}