.sidebarOption {
    color: gray;
    padding: 6px 0;
    cursor: pointer;
    transition: 200ms color ease-in;
    /* border: 1px solid white; */
}

.sidebarOption:hover {
    color: white;
}